{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/git' style='font-size: 111.25%'>git(3)</a>  <a href='/blog/categories/ios' style='font-size: 145.0%'>ios(12)</a>  <a href='/blog/categories/ios-' style='font-size: 107.5%'>ios,(2)</a>  <a href='/blog/categories/pop' style='font-size: 103.75%'>pop(1)</a>  <a href='/blog/categories/其它' style='font-size: 103.75%'>其它(1)</a>  <a href='/blog/categories/工作' style='font-size: 103.75%'>工作(1)</a>  <a href='/blog/categories/工具' style='font-size: 160.0%'>工具(16)</a>  <a href='/blog/categories/开源库' style='font-size: 118.75%'>开源库(5)</a>  <a href='/blog/categories/经验总结' style='font-size: 107.5%'>经验总结(2)</a>  <a href='/blog/categories/经验技巧' style='font-size: 103.75%'>经验技巧(1)</a>  <a href='/blog/categories/经验教训' style='font-size: 133.75%'>经验教训(9)</a>  <a href='/blog/categories/解决问题' style='font-size: 103.75%'>解决问题(1)</a> </span>
</section>
{% endif %}
