{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/ios' style='font-size: 134.28571428571428%'>ios(4)</a>  <a href='/blog/categories/工作' style='font-size: 108.57142857142857%'>工作(1)</a>  <a href='/blog/categories/工具' style='font-size: 160.0%'>工具(7)</a>  <a href='/blog/categories/经验总结' style='font-size: 117.14285714285714%'>经验总结(2)</a>  <a href='/blog/categories/经验技巧' style='font-size: 108.57142857142857%'>经验技巧(1)</a>  <a href='/blog/categories/经验教训' style='font-size: 108.57142857142857%'>经验教训(1)</a> </span>
</section>
{% endif %}
