{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/ios' style='font-size: 133.33333333333334%'>ios(5)</a>  <a href='/blog/categories/ios-' style='font-size: 113.33333333333333%'>ios,(2)</a>  <a href='/blog/categories/工作' style='font-size: 106.66666666666667%'>工作(1)</a>  <a href='/blog/categories/工具' style='font-size: 160.0%'>工具(9)</a>  <a href='/blog/categories/开源库' style='font-size: 113.33333333333333%'>开源库(2)</a>  <a href='/blog/categories/经验总结' style='font-size: 113.33333333333333%'>经验总结(2)</a>  <a href='/blog/categories/经验技巧' style='font-size: 113.33333333333333%'>经验技巧(2)</a>  <a href='/blog/categories/经验教训' style='font-size: 106.66666666666667%'>经验教训(1)</a>  <a href='/blog/categories/解决问题' style='font-size: 106.66666666666667%'>解决问题(1)</a> </span>
</section>
{% endif %}
