{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/ios'>ios (4)</a></li>
  <li><a href='/blog/categories/ios-'>ios, (2)</a></li>
  <li><a href='/blog/categories/工作'>工作 (1)</a></li>
  <li><a href='/blog/categories/工具'>工具 (7)</a></li>
  <li><a href='/blog/categories/开源库'>开源库 (1)</a></li>
  <li><a href='/blog/categories/经验总结'>经验总结 (2)</a></li>
  <li><a href='/blog/categories/经验技巧'>经验技巧 (2)</a></li>
  <li><a href='/blog/categories/经验教训'>经验教训 (1)</a></li>
</ul>
</section>
{% endif %}
