<section>
  <h1>友情链接</h1>
  <ul id="friendly_link">
    <li class="post">
      <a href="http://blog.devtang.com">唐巧的技术博客</a>
    </li>
    <li class="post">
      <a href="http://onevcat.com">OneV's Den</a>
    </li>
    <li class="post">
      <a href="http://blog.sunnyxx.com">sunnyxx</a>
    </li>
    <li class="post">
      <a href="http://blog.leichunfeng.com">雷纯锋的技术博客</a>
    </li>
    <li class="post">
      <a href="http://southpeak.github.io">南峰子的技术博客</a>
    </li>
    <li class="post">
      <a href="http://nshipster.cn">nshipster</a>
    </li>
  </ul>
</section>